.highcharts-figure,
.highcharts-data-table table {
	min-width: 1180px;
	max-width: 1180px;
	margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #ebebeb;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
	padding: 1em 0;
	font-size: 1.2em;
	color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
	padding: 0.5em;
}
.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
	padding: 0.5em;
}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
	background: #f8f8f8;
}
.highcharts-data-table tr:hover {
	background: #f1f7ff;
}

#container h4 {
	text-transform: none;
	font-size: 16px;
	font-weight: bold;
	padding-top:10px;
	padding-bottom:10px;
}

#container p {
	font-size: 15px;
	line-height: 16px;
	padding-left: 5px;
	padding-bottom:5px;
}

@media screen and (max-width: 600px) {
	#container h4 {
		font-size: 2.3vw;
		line-height: 3vw;
	}
	#container p {
		font-size: 2.3vw;
		line-height: 3vw;
	}
}
